{% extends 'base.html' %}

{% load static %}
<html>
<!-- Head -->
	<head>
		{% block title %}Nicks Portfolio{% endblock %}
		{% block style %}
			<style type="text/css">
				/* The Modal (background) */
				.modal {
				  display: none; /* Hidden by default */
				  position: fixed; /* Stay in place */
				  padding-top: 100px; /* Location of the box */
				  left: 0;
				  top: 0;
				  width: 100%; /* Full width */
				  height: 100%; /* Full height */
				  overflow: auto; /* Enable scroll if needed */
				  background-color: rgb(0,0,0); /* Fallback color */
				  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
				}

				/* Modal Content */
				.modal-content {
				  background-color: #fefefe;
				  margin: auto;
				  padding: 20px;
				  border: 1px solid #888;
				  width: 80%;
				  overflow: hidden;
				}

				/* The Close Button */
				.close {
				  color: #aaaaaa;
				  float: right;
				  font-size: 28px;
				  font-weight: bold;
				}
				.close:hover,
				.close:focus {
				  color: #000;
				  text-decoration: none;
				  cursor: pointer;
				}
			</style>
		{% endblock %}
	</head>	
<!-- Body -->
	<body>
	<!-- Blocked Main Body content -->
		{% block content %}
			<!-- Banner -->
				<section id="banner">
					<h2>Nick Felix</h2>
					<p>Welcome to my Website. <br/> I am a fullstack developer and here is a short<br/> description of me.</p>
					<ul class="actions">
						<li>
							<a href="{% static 'homePage/NICK-FELIX-RESUME.pdf' %}" target="_blank" class="button special big">
								View My Resume
							</a>

						</li>
					</ul>
				</section>
			<!-- Technical Experience content -->
				<section id="about_me_content" class="wrapper">
					<div class="container 75%">
						<div class="row">
							<header class="major special">
								<i><h2>Technical Experience: </h2></i>
								<blockquote><p style="font-size:110%;">Computer Systems Undergraduate<br/> studying Web development, hardware and database management.</p></blockquote>
							</header>
						<div class="image rounded"><img src="{% static 'homePage/images/mypicture_home.jpg' %}" alt="mypicture_home" width="200" height="200"></div>
						</div><hr>
						<div class="row">
							<div class="6u 12u$(xsmall)">
								<h4>Education:</h4>
								<p><a href="http://www.citytech.cuny.edu" target="_blank">New York City College of Technology</a> – 300 Jay St, Brooklyn 11201<br/> <u>Degree:</u> Bachelor’s in technology / <u>Major:</u> Computer Systems</p>
								<ul>
									<li>Discrete Structures and Algorithms I</li>
									<li>Database System Fundamentals</li>
									<li>Problem Solving with Computer Programming</li>
									<li>Web Programming I</li>
									<li>Operating System Fundamentals</li>
								</ul>
							</div>
							<div class="6u$ 12u$(xsmall)">
								<h4>Experience with:</h4>
								<p>Designing and maintaining interactive and dynamic websites using Django, HTML, Cascading Style Sheets (CSS) and client-side scripting with JavaScript.</p>
								<ul>
									<li>HTML, Cascading Style Sheets (CSS) and JavaScript </li>
									<li>Python</li>
									<li>Bash</li>
									<li>Django</li>
									<li>SQL</li>
								</ul>
							</div>	
						</div>
					</div>
				</section>
			<!-- Project_content(link images to my github) -->
				<section id="project_content" class="wrapper style2 special">
					<div class="container">
						<header class="major special">
							<i><h2>Projects</h2></i><hr>
							<i><p>Acedemic Projects</p></i>
						</header>
					</div>
					<div class="container">
						<div class="feature-grid">
							<div class="feature">
								<div class="container">
									<div class="image fit">
										<a href="https://github.com/allcodesnick/Deathly-Escape" target="_blank" data-toggle="tooltip" title="Github repo">
											<img src="{% static 'homePage/images/DeathlyEscape.png' %}" alt="Deathly Escape" />
										</a>
									</div>
								</div>
								<div class="container">
									<header>
										<h4>Deathly Escape</h4>
										<p>Python Text Adventure Game</p>
									</header>
								</div>
								<div class="container">
									<p>
										<i><u>Programming Fundamentals I : </u></i> Text adventure game using concepts of Object Oriented Programming. Use of flowcharts to diagram problem solutions. Object oriented packages, flowcharting tools and viewing generated software code.
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="container">
						<div class="feature-grid">
							<div class="feature">
								<div class="container">
									<div class="image fit">
										<a href="#" target="_blank" data-toggle="tooltip" title="Github repo">
											<img src="{% static 'homePage/images/codingBlog.png' %}" alt="Coding Blog" />
										</a>
									</div>
								</div>
								<div class="container">
									<header>
										<h4>Coding Blog</h4>
										<p>INTRO TO HTML AND CSS FOR WEB DEVELOPMENT</p>
									</header>
									<p>Tasked with the the goal to create an innovative, interactive, and interesting website for a client, structuring a web page using code to style text, images, color, typography, and layout.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="container">
						<div class="feature-grid">
							<div class="feature">
								<div class="container">
									<div class="image fit">
										<a href="https://github.com/allcodesnick/Restaurant" target="_blank" data-toggle="tooltip" title="Github repo">
											<img src="{% static 'homePage/images/homecookn.png' %}" alt="Home Cook'n" />
										</a>
									</div>
									<div class="container">
										<header>
											<h4>Home Cook'n</h4>
											<p>INTRO TO HTML AND CSS FOR WEB DEVELOPMENT</p>
										</header>
										<p>A project which required the use of creativity to create a restaurant interesting website.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="container">
						<div class="feature-grid">
							<div class="feature">
								<div class="container">
									<div class="image fit">
										<a href="#" target="_blank" data-toggle="tooltip" title="Github repo">
											<img src="{% static 'homePage/images/gymWebsite.png' %}" alt="Gym Website" />
										</a>
									</div>
									<div class="container">
										<header>
											<h4>Gym Website</h4>
											<p>INTRO TO HTML AND CSS FOR WEB DEVELOPMENT</p>
										</header>
										<p>A Project that required membership form using JavaScript, Cascade Style Sheets, scrolling messages, dropdown lists, extensive use of Html5 form validation. </p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			<!-- contact me -->
				<section id="four" class="wrapper style3 special">
						<div class="container">
							<header class="major">
								<h2>Contact ME!</h2>
							</header>
							<ul class="actions">
								<li><a href="mailto: nickfelix.1997@gmail.com" class="button special big">Send an Email</a></li>
							</ul>
						</div>
				</section>
			<!-- Project_content(link images to my github) -->
			<section id="project_content" class="wrapper style2 special">
				<div class="container">
					<header class="major special">
						<i><h2>Deathly Escape</h2></i><hr>
						<i><p>Coming Soon</p></i>
					</header>
				</div>
			</section>
		{% endblock %}
		{% block script %}
			<script>
				$(document).ready(function(){
				  $('[data-toggle="tooltip"]').tooltip();   
				});
			</script>

		{% endblock %}
	</body>
</html>